{% extends 'base.html' %}

{# 页面标题 #}
{% block title %}
    My site
{% endblock %}

{# 页面内容 #}
{% block content %}
    <!--blogs come from views-->
    {% for blog in blogs %}
        <a href="{% url 'blog_detail' blog.pk %}">
            <h3 >{{ blog.title }}</h3 >
        </a>
        <!--<p>{{ blog.content|truncatewords:30 }}</p>-->
        <p>{{ blog.content|truncatechars:30 }}</p>

    {% empty %}
        <p>-- No Blogs now, to be continue --</p>
    {% endfor %}
    <p>The total number of blogs is {{ blogs_count}}</p>
{% endblock %}
